# dependencies
ui/pedal-pricer/node_modules
ui/pedal-pricer/.pnp
.pnp.js

# images
api/PedalPricerAPI/Images

api/PedalPricerAPI/obj
api/PedalPricerAPI/bin
api/PedalPricerAPI/.vs
api/PedalPricerAPI/PedalPricerAPI.csproj.user

ui/pedal-pricer/build
api/PedalPricerAPI/Properties/PublishProfiles
api/PedalPricerAPI/Properties/ServiceDependencies
api/PedalPricerAPI/Properties/serviceDependencies.PedalPricerApi - Zip Deploy1.json
api/PedalPricerAPI/Properties/serviceDependencies.PedalPricerApi - Zip Deploy1.json.user
api/PedalPricerAPI/Properties/serviceDependencies.json
api/PedalPricerAPI/Properties/serviceDependencies.local.json
api/PedalPricerAPI/Properties/serviceDependencies.local.json.user
api/PedalPricerAPI/wwwroot

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
