USE [pedalpricer]
GO
/****** Object:  Table [dbo].[Pedalboards]    Script Date: 4/3/2024 7:39:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedalboards](
	[PedalboardID] [int] IDENTITY(1,1) NOT NULL,
	[PedalboardBrand] [nvarchar](500) NULL,
	[PedalboardName] [nvarchar](500) NULL,
	[PedalboardWidth] [decimal](5, 3) NULL,
	[PedalboardHeight] [decimal](5, 3) NULL,
	[PedalboardPrice] [decimal](5, 2) NULL,
	[PedalboardImageFileName] [nvarchar](500) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pedalboards] ON 

INSERT [dbo].[Pedalboards] ([PedalboardID], [PedalboardBrand], [PedalboardName], [PedalboardWidth], [PedalboardHeight], [PedalboardPrice], [PedalboardImageFileName]) VALUES (1015, N'Aclam', N'Smart Track L2 (Free)', CAST(32.700 AS Decimal(5, 3)), CAST(11.800 AS Decimal(5, 3)), CAST(403.88 AS Decimal(5, 2)), N'aclam-l2-free.png')
INSERT [dbo].[Pedalboards] ([PedalboardID], [PedalboardBrand], [PedalboardName], [PedalboardWidth], [PedalboardHeight], [PedalboardPrice], [PedalboardImageFileName]) VALUES (1016, N'Aclam', N'Smart Track L2 (Top)', CAST(32.700 AS Decimal(5, 3)), CAST(11.800 AS Decimal(5, 3)), CAST(285.92 AS Decimal(5, 2)), N'aclam-s2-top.png')
INSERT [dbo].[Pedalboards] ([PedalboardID], [PedalboardBrand], [PedalboardName], [PedalboardWidth], [PedalboardHeight], [PedalboardPrice], [PedalboardImageFileName]) VALUES (1017, N'Aclam', N'Smart Track S2 (Free)', CAST(23.200 AS Decimal(5, 3)), CAST(11.800 AS Decimal(5, 3)), CAST(257.27 AS Decimal(5, 2)), N'aclam-l2-free.png')
GO
SET IDENTITY_INSERT [dbo].[Pedalboards] OFF
GO
